<div class="body">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Nestor Ivan Castro. Development</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Portafolio</a></li>
          <li><a href="#">Estudios</a></li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="bg-1">
    <div class="container text-center">
      <h3>¿Quién soy?</h3>
      <p>
        Soy una persona motivada a seguir creciendo, a continuar con mis experiencias y establecer nuevos récords
        que impliquen una destacada impresión. En el ámbito del desarrollo, muchas veces nos podemos encontrar
        demasiadas complicaciones y esto hará que la motivación recaiga un poco, sin embargo, lo que se lleva en
        el alma es lo que perdura.
      </p>
      <div class="image-container">
        <img src="../assets/yo.jpg" class="img-responsive img-circle" alt="Bird" width="350" height="350">
      </div>
      <h3>¡Soy un desarrollador!</h3>
    </div>
  </div>


  <hr>
  <div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <img src="../assets/2022.png" alt="Los Angeles">
          <div class="carousel-caption">
            <h3>año nuevo</h3>
            <p>la diversion en un año!</p>
          </div>
        </div>
        <!-- width="100%" height="100%" -->
        <!-- style="width:100%;  height: 100%;" -->
        <div class="item">
          <img src="../assets/caballos.png" alt="Chicago">
          <div class="carousel-caption">
            <h3>plazoleta de los caballos en neiva</h3>
            <p>una bella arte!</p>
          </div>
        </div>

        <div class="item">
          <img src="../assets/codigo2.png" alt="New York">
          <div class="carousel-caption">
            <h3>codigo</h3>
            <p>nuestra estructura en codigo!</p>
          </div>
        </div>
        <div class="item">
          <img src="../assets/menu.png" alt="New York">
          <div class="carousel-caption">
            <h3>codigo</h3>
            <p>nuestra estructura en codigo!</p>
          </div>
        </div>
        <div class="item">
          <img src="../assets/codigo6.png" alt="New York">
          <div class="carousel-caption">
            <h3>codigo</h3>
            <p>nuestra estructura en codigo!</p>
          </div>
        </div>
        <div class="item">
          <img src="../assets/codigo5.png" alt="New York">
          <div class="carousel-caption">
            <h3>codigo</h3>
            <p>nuestra estructura en codigo!</p>
          </div>
        </div>
        <div class="item">
          <img src="../assets/simple_cats.png" alt="New York">
          <div class="carousel-caption">
            <h3>codigo</h3>
            <p>nuestra estructura en codigo!</p>
          </div>
        </div>
        <div class="item">
          <img src="../assets/index.png" alt="New York">
          <div class="carousel-caption">
            <h3>codigo</h3>
            <p>nuestra estructura en codigo!</p>
          </div>
        </div>
        <div class="item">
          <img src="../assets/login.png" alt="New York">
          <div class="carousel-caption">
            <h3>codigo</h3>
            <p>nuestra estructura en codigo!</p>
          </div>
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">anterior</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">siguiente</span>
      </a>
    </div>
  </div>
  <hr>
  <div class="container-fluid bg-3 text-center">
    <!-- <div class="container bg-7"> -->

    <h1 style="font-style: italic;">Que pueden encontrar de mi?</h1><br>
    <div class="row">
      <div class="col-sm-4 bg-4">
        <h1>FLUTTER</h1>
        <p>este proyecto es reralizado con el framework de flutter una herramienta de modulos que nos simplifica
          la estructura del codigo, flutter trabaja con el lenguaje d eprogramacion llamado <cite>
            <strong>DART</strong></cite>
        </p>
        <br>
        <div class="thumbnail">
          <a href="https://netorivan.github.io/web1407/" target="_blank">
            <img src="../assets/simple_cats.png" class="img-respon" alt="Nature">

          </a>
        </div>

      </div>
      <!-- -------------------------flutter -->
      <div class="col-sm-4 bg-4">
        <h1>PHP</h1>
        <p>En el proyecto de php, encontramos mas codigo de tipo 'calculo' son ejercisios de fundamentos muy sencillos
          en donde nos enfocamos en aprender a maniobrar ciertos parametro de los signos y funciones matematicas.
        </p>
        <br>

        <a href="https://github.com/netorivan/php2507" target="_blank"><img src="../assets/promedio.png"
            class="img-respon" alt="Image"></a>

      </div>
      <!-- -----------------------PHP -->
      <div class="col-sm-4 bg-4">
        <h1>BOOSTRATP</h1>

        <p>en este proyecto hemos aplicado todos los conocimientos recolectados y recibidos por parte del
          Sena y de sus instructores, que con su ayuda y formando un alianza entre compañeros del grupo, empezamos a
          realizar
          este pequeño proyecto.
        </p>

        <div class="thumbnail">
          <a href="https://netorivan.github.io/web1407/" target="_blank">
            <img src="../assets/pana.png" class="img-respon" alt="Lights">

          </a>
        </div>

      </div>
    </div>
  </div>
</div>
<footer class="container-fluid bg-4 text-center">
  <div class="social-icons text-center">
    <a href="https://www.facebook.com/netorivan/?locale=es_LA" target="_blank" class="social-icon">
      <i class="fab fa-facebook-f"></i>Netor Ivan Netor Marin
    </a><br>

    <a href="https://www.instagram.com/netorivanmarin/" target="_blank" class="social-icon">
      <i class="fab fa-instagram"></i>netorivanmarin
    </a>
    <br>
    <a href="https://www.linkedin.com/in/nestor-ivan-castro-marin-985769a0/" target="_blank" class="social-icon">
      <i class="fab fa-linkedin-in"></i>nestor ivan castro marin
    </a>
  </div>

</footer>
<router-outlet />